*{font-family: 'Source Sans Pro', sans-serif;}

/* Heading */
h1 {
    color: orangered;
    font-size: 45px;
}
 
/* Button Grid */
#b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9 {
    width: 90px;
    height: 90px;
    left: 420px;
    top: 450px;

    background: #9c9c9c;
    border-radius: 17px;
    margin: auto;
    font-size: 30px;
    text-align: center;
}
 
/* Reset Button */
#but {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;
 
    background-color: orangered;
    color: white;
    font-size: 20px;
    cursor: pointer;
    }
 
/* Player turn space */
#print {
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;
 
    color: dodgerblue;
    font-size: 20px;
}
 
/* Main Container */
#main {
    text-align: center;
}
 
/* Game Instruction Text */
#ins {
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;
             
    color: rgb(60, 158, 255);
    font-size: 17px;
}